# Supabase 설정
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# 공공데이터 긴급재난문자 API 설정
DISASTER_API_ENDPOINT=/V2/api/DSSP-IF-00247
DISASTER_API_KEY=45OXT7682D1L49IA
NEXT_PUBLIC_DISASTER_API_URL=https://www.safetydata.go.kr/V2/api/DSSP-IF-00247?serviceKey=45OXT7682D1L49IA
